.slide-toggle {
    position: relative;
  }
  
  .slide-toggle input[type="radio"] {
    display: none;
  }
  
  .slide-toggle label {
    display: inline-block;
    transition: all 0.4s;
    position: relative;
    z-index: 3;
  }
  
  .slide-toggle .toggle {
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: left 0.4s;
  }
  